@model int


<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfully</h1>
        Your Order Number is : @Model <br /> <br />
        <img src="\images\Images\lawn_leaf.jpg" class="text-center w-75 h-75" />
    </div>
    <div class="col-12 text-center fs-5 fw-bolder" style="color:red">

       Payment has been applied successfully! <br />
    </div>

</div>