@model ProductVM;

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-gradient bg-secondary py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Product.Id != 0 ? "Update" : "Create" ) Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-area="Admin" asp-action="Upsert" asp-controller="Product" method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden/>
            <input asp-for="Product.ImageUrl" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border border-0 border-primary p-3 mt-4">
                        <div class="row pb-2">
                        </div>

                        @* <div asp-validation-summary="All" class="text-danger"></div> *@

                        <div class="col-12 form-floating py-2">
                            <input asp-for="Product.Title" type="text" class="form-control border-0 shadow" />
                            <label asp-for="Product.Title" class="ms-2"></label>
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class="col-12 text-muted py-2">
                            <label asp-for="Product.Description" class="ms-2"></label>
                            <textarea asp-for="Product.Description" type="text" class="form-control border-0 shadow">

                    </textarea>
                        </div>

                        <div class="col-12 form-floating py-2">
                            <input asp-for="Product.ISBN" type="text" class="form-control border-0 shadow" />
                            <label asp-for="Product.ISBN" class="ms-2"></label>
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-floating py-2">
                            <input asp-for="Product.Author" type="text" class="form-control border-0 shadow" />
                            <label asp-for="Product.Author" class="ms-2"></label>
                            <span asp-validation-for="Product.Author" class="text-danger"></span>
                        </div>

                        <div class="col-12 form-floating py-2">
                            <input asp-for="Product.ListPrice" type="text" class="form-control border-0 shadow" />
                            <label asp-for="Product.ListPrice" class="ms-2"></label>
                            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-floating py-2">
                            <input asp-for="Product.Price" type="text" class="form-control border-0 shadow" />
                            <label asp-for="Product.Price" class="ms-2"></label>
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>

                        <div class="col-12 form-floating py-2">
                            <input asp-for="Product.Price50" type="text" class="form-control border-0 shadow" />
                            <label asp-for="Product.Price50" class="ms-2"></label>
                            <span asp-validation-for="Product.Price50" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-floating py-2">
                            <input asp-for="Product.Price100" type="text" class="form-control border-0 shadow" />
                            <label asp-for="Product.Price100" class="ms-2"></label>
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-floating py-2">
                            <input  type="file" name="file" class="form-control border-0 shadow" />
                            <label asp-for="Product.ImageUrl" class="ms-2"></label>
                        </div>
                        <div class="col-12 form-floating py-2">
                            <select asp-for="Product.CategoryId"
                                    asp-items="@Model.CategoryList"
                                    type="text"
                                    class="form-select border-0 shadow">
                                <option disabled selected>Category--</option>
                            </select>
                            <label asp-for="Product.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="row justify-content-center mt-4 ">
                            <div class="col-6 col-md-5">


                                @if (Model.Product.Id == 0)
                                {
                                    <button type="submit" class=" btn btn-primary  form-control rounded">
                                        Create
                                    </button>

                                }
                                else
                                {

                                    <button type="submit" class=" btn btn-primary  form-control rounded">
                                        Update
                                    </button>

                                }

                            </div>
                            <div class="col-6 col-md-5">
                                <a asp-controller="Product" asp-action="Index"
                                   class="btn btn-outline-primary  form-control rounded">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%"
                    style="border-radius:5px; border:1px solid white "
                    />
                </div>
            </div>
            
        </form>
    </div>
</div>




@section Scripts {
    <script>
            tinymce.init({
          selector: 'textarea',
          plugins: ['anchor','autolink','charmap','codesample','emoticons','lists','table','visualblocks','wordcount'],
          toolbar: 'undo redo | blocks | bold italic underline | link | align | bullist numlist | removeformat',
        });

    </script> 
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}